Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

This is Dora's notebook, and I am going to introduce the basic tools used in the data analysis and its ecosystem.

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
* Listing popular languages in Data Science
* Listing popular data science libraries
* Listing popular data science tools by using single column table
* Demonstrating arithmetic equations by executing the code cells in Note Book
* Converting minutes into hours by using the code cells

Exercise 4 - Create a markdown cell to list data science languages

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. C
5. C++

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scipy
4. matplotlib
5. seaborn
6. plotly

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### The following are some examples of the arithmetc expressions in Python:

Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
#The following is a simple equation of adding and multiplying integers
(3*4)+5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

The following will illustrate how to turn 200 minutes into hours by dividing 60 hours:

200 min = 3.33 hours

In [6]:
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
yongxi Zhong (Dora)